//- .divider.hide-on-med-and-down
//- footer.page-footer.white.hide-on-med-and-down
.divider
footer.page-footer.white
    .container
        h4.header.light.teal-text 
            a(href="http://root-kings.github.io") Dayshmookh Apps
        p.light.black-text Nagpur
    .footer-copyright
        .container &copy 2019 Dayshmookh Apps
